Source: openbsd-utils
Section: utils
Priority: optional
Maintainer: Nikos Skalkotos <skalkoto@grnet.gr>
Build-Depends: dpkg-dev (>= 1.15.7), debhelper (>= 7.1), libbsd-dev, libedit-dev,
Standards-Version: 3.9.4
Homepage: https://github.com/skalkoto/openbsd-utils
Vcs-Git: git://github.com/skalkoto/openbsd-utils
Vcs-Browser: https://github.com/skalkoto/openbsd-utils

Package: openbsd-utils
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: OpenBSD utilities for disklabel and UFS filesystem
 The following utilities are provided:
  * tunefs
  * growfs
  * dumpfs

